.ss-embed-carousel .glide__slide {
  opacity: 0.1;
  transform: scale(0.8);
  transition: opacity 0.25s, transform 0.25s;
}

.ss-embed-carousel .glide__slide--previous {
  transform: translate(25%, 0) scale(0.8);
}

.ss-embed-carousel .glide__slide--next {
  transform: translate(-25%, 0) scale(0.8);
}

.ss-embed-carousel .glide__slide--pre-active {
  opacity: 1;
  transform: scale(1);
  z-index: 2;
}

.bullets {
  margin-top: 12px;
}

.bullet {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 1px solid #BDBDBD;
  background: #fff;
  transition: background 0.25s;
  margin-right: 12px;
  cursor: pointer;
}

.ss-embed-carousel .glide__bullet--active {
  background: #C4C4C4;
}

.item {
  max-width: 540px;
  background-color: #63686f;
  border-radius: 4px;
  padding: 50px;
  color: #fff;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

div,
p {
  margin: 0;
  padding: 0;
}

p {
  color: #fff;
}

.review {
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  margin: 20px 0;
}

.footer {
  display: flex;
  align-items: center;
}

.avatar {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.avatar img {
  width: 100%;
  height: 100%;
}

.info p {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 6px;
}